<app-menu></app-menu>

<form>
  <app-modal modalTitle="Cadastrar usuário">
    <div class="modal-body">
      <div class="form-row mt-4 mb-2">
        <div class="form-group col">
          <label for="nomeUsuario">Nome usuário</label>
          <input class="form-control" type="text" name="nomeUsuario">
        </div>
      </div>

      <div class="form-row form-row mb-2">
        <div class="form-group col-6">
          <label class="font-weight-bold">Proprietário da sala</label>
          <div (click)="checked()" class="custom-control custom-switch">
            <input [checked]="checkbox" class="custom-control-input" type="checkbox">
            <label class="custom-control-label" ></label>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <Button (click)="setCompetencia()" class="btn btn-secondary btn-sized"> Criar </Button>
    </div>
  </app-modal>
</form>

