<div *ngIf="visible" class="modal-backdrop fade" [class.show]="fadeShow"></div>

<div *ngIf="visible" (mousedown)="hideIfCan()" class="modal d-block fade" [class.show]="fadeShow">
  <div (mousedown)="stopPropagation($event)" class="modal-dialog" [ngClass]="{'modal-dialog-scrollable': scrollModal, 'modal-lg': large, 'modal-xl': extraLarge, 'modal-dialog-centered': centered}">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h1 class="modal-title">{{ modalTitle }}</h1>
          <p *ngIf="modalSubTitle" class="text-muted mb-0">
            <small>{{ modalSubTitle }}</small>
          </p>
        </div>
        <button *ngIf="canHide" (click)="hide()" class="close">
          <span>&times;</span>
        </button>
      </div>

      <ng-content select=".modal-body"></ng-content>

      <ng-content select=".modal-footer"></ng-content>
    </div>
  </div>
</div>
